{% extends 'users/base.html' %}

{% block content %}
    <div class="row"><br>
      <div class="col s6 l5 m6 offset-l3">
          <div class="card">
              <div class="card-content">
                  <form action="{% url 'login' %}" method="post">
                      {% csrf_token %}
                      <div class="form-group">
                          <label>Email</label>
                          <input type="text" placeholder="Email id" name="username" class="form-control">
                      </div>
                      <div class="form-group">
                          <label>Email</label>
                          <input type="text" placeholder="Email id" name="password" class="form-control">
                      </div>
                      <button class="btn waves-effect waves-light" type="submit" name="action">Login</button>
                  </form><br>
                  <a href="{% url 'user_registations' %}" class="btn green ">Signup</a>

              </div>
          </div>
      </div>
    </div>
{% endblock %}

